/*! LAYOUT PARA SEGICONS*/
/*! @description Seguridad industrial, confección de ropa de trabajo, construcción de estructuras metálicas y campamentos */
/*! @author Fernando Averanga Aruquipa */
/*! @link https://gitlab.con/2062nandes */
$cssCore: false;
$cssHelpers: false;
$devMode: false;
$container : segicons;
$item      : item;
$max-width : 1100px;
$breakpoints : (
  s  : 0,
  m  : 550px,
  l  : 840px,
  xl  : 1024px,
);
@font-face {
    font-family: 'opencbold';
    src: url('fonts/opencbold.woff') format('woff');
    src: url('fonts/opencbold.woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
  font-family: "Copperplate";
	src: url("fonts/FrancoisOne.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}
@import 'ed-grid';
$lightblue: #0088ad;
$white:#fff;
$blue: #005375;
$gold: #ffbc4b;
$black: #080b0d;

// POR DEFECTO*/
button:focus, a:active, a:hover {
    outline: 0;
}
iframe{
  width: 100%;
  height: calc(100% - 62px);
  @include to(l){
    height: 400px;
  }
}
article>div{
  position: relative;
}
.col30{
  @include edItem(100, 100, 30);
}
.col70{
  @include edItem(100, 100, 70);
}
.col50{
  @include edItem(100,100,50,50);
}
// POR DEFECTO END*/
.body{
  display: block;
  // background: lighten($gold, 45);
  background: linear-gradient(#ffffff, #3c87ac, #ffffff);
}
// MODAL POPUP - CAROUSEL INI
.modal-popup{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    &__background{
      position: absolute;
      top: 0;
      left: 0;
      background: rgba(0, 0, 0, 0.71);
      width: 100%;
      height: 100%;
    }
    &__close{
      position: absolute;
      left: 80%;
      top:10%;
      background: $lightblue;
      color: $white;
      border-radius: 10px;
      z-index: 10;
      cursor: pointer;
    }
    img{
      width: 100%;
      object-fit: contain;
      object-position: top;
      height: 80vh;
    }
}
[data-controls="next"], [data-controls="prev"]{
  position: absolute;
  top: 50%;
  z-index: 10;
  font-size: 40px;
  font-weight: 100;
  color: #ffbc4b;
  background: transparent;
  text-shadow: 3px 3px 1px #7e4f00;
  border: none;
  transform: translateY(-50%) scaleY(2.8);
  &:hover{
    color: $lightblue;
    text-shadow: 3px 3px 1px darken($lightblue,40);
  }
}
[data-controls="next"]{
  right: -10%;
}
[data-controls="prev"]{
  right: 100%;
}
[data-nav]{
  display: none;
}
// MODAL POPUP - CAROUSEL END
#segicons{
  position: relative;
}
section{
  padding: 0 20px 5px 20px;
}
.section{
  overflow: hidden;
  width: 100%;
  margin: auto;
  margin-top: 210px;
  padding-bottom: 20px;
  background-clip: padding-box;
  border: ridge 6px #3b87ac;
  box-shadow: 0 0 0px 1px $gold;
  // 100, 40,25,20
  border-radius: 25px;
  &__title{
    margin-top: 0;
    padding: 10px;
    display: block;
    width: 100%;
    background: linear-gradient($gold, darken($gold, 10));
    color: $black;
    text-align: center;
    text-transform: uppercase;
  }
  &__main{
    @include edItem(100,60,75,80);
    &_full{
      @include edItem(100);
    }
  }
  &__aside{
    @include edItem(100,40,25,20);
    padding: 0;
  }
  @include to(m){
    background: $white;
    margin-top: 190px;
  }
  @include fromTo(m,l){
    margin-top: 190px;
    background: linear-gradient(90deg,lighten($white, 5) 60%, darken($white, 5) 40%);
  }
  @include fromTo(l,xl){
    background: linear-gradient(90deg,lighten($white, 5) 75%, darken($white, 5) 25%);
  }
  @include from(xl){
    background: linear-gradient(90deg,lighten($white, 5) 80%, darken($white, 5) 20%);
  }
  &_full{
    background: $white;
  }
}
// *Headroom INI*/
.header{
  width: 100%;
  position: fixed;
  z-index: 1;
  will-change: transform;
  transition: 0.5s all;
  &-notop{
    transform: translateY(0);
    .main-inicio{
      display: none;
    }
    .main__ini{
      position: absolute;
    }
    .header__main{
      margin: 0;
    }
  }
  &-up{
    .main__logo,.main-inicio{
      transform: translateX(0);
    }
  }
  &-down{
    // transform: translateY(-100%);
    .main__logo{
      transform: translateX(-110%);
    }
    .main-inicio{
      transform: translateX(100%);
    }
  }
}
// *Headroom END*/
// GRILLAS INI*/
.segicons{
  position: relative;
}
.header{
  padding-bottom: 1px;  
  margin: 10px 0;
}
.header__logo{
  display: block;
  width: 100%;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  text-align: center;
  .isologo{
    @include from(xl){
      width: 50%;
    }
    @include fromTo(l,xl){
      width: 60%;
    }
    @include fromTo(m,l){
      width: 70%;
    }
    padding: 0;
  }
  @include to(m){
    .isologo{
      max-width: 100%;
    }
  }
}
.main-inicio{
  display: none;
  margin-top: 5px;
  @include from(l){
    position: relative;
    @include mainEnd;
    text-align: end;
    list-style:none;
    will-change: transform;
    transition: 1s all;
  }
  &__item{
    font-size: 1.2rem;
    margin-right: 14px;
    a{
      &:hover{
        text-decoration: none;
      }
      &:active{
        color: $white;
      }
    }
  }
  &__link{
    font-family: Copperplate,Copperplate Gothic Light,fantasy;
    color: $white;
    text-shadow: 1px 2px 1px black;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    &:hover{
      i{
        transform: rotate(1turn);
        &::before{
          background: linear-gradient(-50deg,darken($gold, 10),lighten($gold, 5) ,darken($gold, 10));
          background-clip: padding-box;
          padding: 12px;
          border-radius: 50%;
          border: 4px ridge $lightblue;
          box-shadow: inset 0 0 10px 0px #000000, 0 0 10px 0 #484848;
        }
      }
    }
    i{
      font-size: 1.6rem;
      padding: 15px 0 10px;
      will-change: transform;
      transition: 0.5s all;
      &::before{
        background:  linear-gradient(-50deg,darken($gold, 10),lighten($gold, 5) ,darken($gold, 10));
        background-clip: padding-box;
        padding: 12px;
        border-radius: 50%;
        border: 4px ridge $lightblue;
        box-shadow: inset 0 0 5px 0px #000000, 0 1px 8px 0 #484848;
      }
    }
    span{
      margin-top: 5px;
      display: block;
    }
  }
}
.header__main{
  @include edItem(100);
  padding: 0;
  margin: 10px 0;
}
// GRILLAS END*/
// ANIMACION LOGO END*/
.main{
  position: relative;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  @include to(l){
    @include mainCenter;
  }
  @include from(l){
    @include mainJustify;
  }
  &__logo{
    margin-left: 15px;
    will-change: transform;
    transition: 1s all;
  }
  &__item{
    position: relative;
    @include edItem(100,100,11.11111111);
    text-align: center;
    list-style: none;
    padding: 0;
  }
  &__link{
    width: 100%;
  }
  &__button{
    width: 97%;
    height: 3.5rem;
    font-family: opencbold,Arial,Helvetica,sans-serif;
    font-size: 1.1rem;
    @include fromTo(l,xl){
      font-size: 0.95rem;
    }
    @include from(xl){
      font-size: 1.1rem;
    }
    line-height: 1.05;
    color: #fff;
    background-image:linear-gradient($lightblue, $blue);
    background-clip: padding-box;
    text-shadow: -1px -1px 0 #572158;
    border: ridge 5px $gold;
    border-radius: 20px;
    padding: 0 5px;
    margin-bottom: 5px;
    display: inline-block;
    z-index: 2;
    will-change: transform;
    transition: all .3s ease-out;
    &:hover {
      transition: all .2s ease-out;
      color: $blue;
      background-image: linear-gradient(lighten($gold, 10), darken($gold, 10));
      text-shadow: -1px 0 0 #FFFFFF;
      border: ridge 5px $lightblue;
      .hamburger-inner, .hamburger-inner:after, .hamburger-inner:before {
          background-color: $blue;
          box-shadow: 0px -1px 5px 0px $white;
      }
    }
    @include from(xl){
      height: 3.5rem;
    }
    @include to(l){
      height: 3.5rem;
    }
  }
}
// NAVEGACION MOVIL INI
.toggle__main{
  padding: 0;
  @include to(l){
    position: absolute;
    @include edItem(100,50);
    will-change: transform;
    transition: .5s all;
    transform: translateX(-100%);
    z-index: 10;  
    background: rgba(254, 250, 247, 0.5);
    box-shadow: 0px 3px 20px 0px rgba(90, 33, 88, 0.62);
  }
  &_active{
    transform: translateX(0);
  } 
}
.toggle__button{
  display: none;
  @include to(l){
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    height: 50px;
  }
  &:active,&_active{
    color: $blue;
    text-shadow: -1px 0 0 $white;
    background: linear-gradient(90deg,$gold,transparent 15%,transparent 85%,$gold),linear-gradient($gold,#FFFFFF 50%,$gold);
    box-shadow: -6px 5px 0 0 $blue, -6px 5px 0 2px lighten($gold,5);
    .hamburger-inner, .hamburger-inner:after, .hamburger-inner:before {
      background-color: $blue;
      box-shadow: 0px -1px 5px 0px $white;
    }
  }
}
.hamburger-inner, .hamburger-inner:after, .hamburger-inner:before {
    background-color: $white;
    box-shadow: 0px -1px 5px 0px $blue;
}
.toggle__inicio{
  display: none;
  @include to(l){
    @include mainDistribute;
    list-style: none;
    padding-left: 0;
  }
}
// NAVEGACION MOVIL END
// CONTENIDO INI
.section{
  &__content{
    @include mainStart;
  }
  &__item{
    @include edItem(50,33.33,25);
    display: flex;
    align-items: stretch;
    padding: 10px;
  }
}
.article{
  &__title{
    background: linear-gradient(90deg,$blue, transparent);
    color: $white;
    text-shadow: 2px 0px 2px $blue;
    padding: 8px 10px;
    margin-top: 0;
  }
  &__content{
    @include edContainer;
  }
  &__gallery{
    @include edItem(50,50,33.33);
    @include crossStart;
    margin-bottom: 15px;
    &_full{
      @include edItem(50,33.33333,25);
    }
    &_text{
      @include edItem(100,66.66666666,50);
      p{
        font-size: 1.1rem;
        margin-top: 0;
        margin-bottom: 0.7rem;
      }
      ul{
        margin-top: 0;
        @include edItem(100,50);
      }
    }
    img{ 
      border: dotted 1px #696969;
      width: 100%;
      @include from(l){
        height: 190px;
      }
      @include fromTo(m,l){
        height: 130px;
      }
      @include to(m){
        height: 120px;
      }
      &.contain{
        object-fit: contain;
      }
      &.cover{
        object-fit: cover;        
      }
    }
    span{
      position: absolute;
      @include mainCenter;
      @include crossCenter;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      color: white;
      font-size: 1.4rem;
      text-shadow: 1px 1px 1px #000;
      will-change: transform;
      transform: scale(0);
      transition: 0.5s all;
      z-index: 1;
    }
    a{
      position: relative;
      cursor: zoom-in;
      &::after{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        height: calc(100% - 5px);
        background: radial-gradient(rgba(0, 0, 0, 0.35),rgb(7, 0, 0));
        will-change: transform;
        transform: scale(0);
        transition: 0.5s all;
      }
      &:hover{
        span,&::after{
          transform: scale(1);
        }
      }
    }
  }
}
.content_text{
  font-size: 1.2rem;
  margin-bottom: 0;
}
.card{
  &__item{
    margin-bottom: 20px;
    background: rgba(255, 255, 255, 0.72);
    border-radius: 10px;
    padding: 5px;
  }
  figure{
    padding: 10px 10px 0;
    margin: 0;
  }
  img{
    @include from(l){
      height: 200px;
    }
    @include fromTo(m,l){
      height: 150px;
    }
    @include to(m){
      height: 100px;
    }

    object-fit: cover;
    border-radius: 50%;
    border: ridge 6px $gold;
    box-shadow: 0 5px 10px 0px #bbbbbb;
  }
  h2{
    color: $blue;
    text-align: center;
    @include from(m){
      font-size: 1.25rem;
    }
    @include to(m){
      font-size: .8rem;
    }
  }
  a{
    @include mainCenter;
  }
  button{
    background: linear-gradient(#aa7e33, #f5bc4c);
    border: none;
    box-shadow: 0px 2px 2px 1px #225475;
    padding: 7px 10px;
    color: #225475;
    font-weight: 600;
    margin-bottom: 15px;
  }
}
.gallery{
  @include edContainer;
  &__item{
    @include edItem(50,50,33,33);
  }
}
.aside{
  &__main {
    font-family: Copperplate,Copperplate Gothic Light,fantasy;
    font-size: 1rem;
    margin: 0;
    padding-left: 0;
    list-style: none;
    padding: 0;
  }
  &__item{
     border-bottom: 1px solid #ccc;
     text-align: end;
     a{
      display: block;
      padding: 10px 10px 10px 20px;
      color: $lightblue;
      transform: scale(1);
      transition: all .3s;
     }
  }
  &__content{
    padding-left: 10px;
    .aside__main {
        max-height: 100vh;
        overflow: hidden;
        overflow-y: auto;
    }
  }
}
// CONTENIDO END
// FORM CONTACT INI
input[type=number]::-webkit-outer-spin-button,input[type=number]::-webkit-inner-spin-button {-webkit-appearance: none;margin: 0;}
input[type=number] {-moz-appearance:textfield;}
.form__label {
    width: 100%;
    color: $blue;
}
.form__input {
    width: 100%;
    background: #efefef;
    color: #000;
    border-radius: 5px;
    padding: 8px;
    margin-bottom: 5px;
}
.form_buttons{
  text-align: center;
}
.form__button {
    width: 40%;
    font-family: Copperplate,Copperplate Gothic Light,fantasy;
    font-size: 1.3rem;
    line-height: 1.1;
    padding: 10px;
    margin-left: 20px;
    margin-bottom: 15px;

    // display: inline-block;
    z-index: 1;
    will-change: transform;
    transition: all .3s ease-out;
    &:hover {
      transition: all .2s ease-out;
      transform: translate3d(-4px,4px,0);
    }
}
// FORM CONTACT END
// FOOTER INI
.footer{
  @include stickyFooter;
  display: block;
  position: relative;
  margin-top: 15px;
  background: linear-gradient(#255b7b,rgba(59, 136, 173, 0.42),#3a85aa);
  border-top: 7px solid transparent;
  border-image: linear-gradient(90deg,#fff -10%,#d58205 40%,47%,#fff 50%,53%,#d58205 60%,#fff 110%);
  border-image-slice: 1;
  border-radius: 10px 10px 0 0;
  &>div{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
  &__item{
    &:nth-child(1){
      @include edItem(100, 100,45); 
      display: block;
      float: left;
      position: relative;
      height: 100%;
      padding-left: 5px;
      padding-right: 5px;  
      margin-bottom: 15px;
      .footer__title,.footer__text{
        text-align: left;
      }
      .footer__text{
        text-shadow: 1px 1px 1px #464646, 0px 1px 1px black, 1px 1px 5px rgba(255, 255, 255, 0.21);        
      }
    }
    &:nth-child(2){
      @include edItem(100, 100,18);
      display: block;
      float: left;
      position: relative;
      height: 100%;
      padding-left: 5px;
      padding-right: 5px;  
      margin-bottom: 15px;
      .footer__title,.footer__text{
        text-align: center;
      }
      .footer__text{
        text-shadow: 1px 1px 1px #464646, 0px 1px 1px black, 1px 1px 5px rgba(255, 255, 255, 0.21);        
      }
    }
    &:nth-child(3){
      @include edItem(100, 100,37);
      display: block;
      float: left;
      position: relative;
      height: 100%;
      padding-left: 5px;
      padding-right: 5px;  
      margin-bottom: 15px;
      .footer__title,.footer__text{
        text-align: right;
      }
      .footer__text{
        text-shadow: 1px 1px 1px #464646, 0px 1px 1px black, 1px 1px 5px rgba(255, 255, 255, 0.21);        
      }
    }
  }
  &__itemcontent{
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0 10px;
  }
  &__text{
    display: inline-block;
    width: 100%;
    color: $white;
    margin-top: 0;
    margin-bottom: 10px;
    text-align: center;
    font-size: 1.1rem;
    span{
      display: inline-block;
    }
  }
  &__title{
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: Copperplate,Copperplate Gothic Light,fantasy;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1;
    color: $gold;
    text-align: center;
    text-shadow: -0.5px 0.2px 0px $white;
  }
  &__main{
    list-style: none;
    &_item{
      position: relative;
      padding-left: 15px;
      a{
        color: $white;
        &::after{
          content: "";
          position: absolute;
          top: 50%;
          left: 0;
          width: 0;
          height: 0;
          transform: translateY(-50%);
          border: solid 5px transparent;
          border-left: solid 10px $white;
          border-right: solid 0px;
        }
      }
    }
  }
}
.social{
  padding: 0;
  padding-top: 5px;
  list-style: none;
  a{text-decoration: none;}
}
.footer__social{
    display: block;
    margin: 0;
    text-align: center;
    .icon-facebook,.icon-youtube,.icon-twitter{
      color: lighten($blue, 5);
      background: radial-gradient($white 0, transparent 250%);
    }
}
.social__icon{
  display: inline-block;
}
.icon-facebook,.icon-youtube,.icon-twitter{
    @include mainCenter;
    width: 50px;
    height: 50px;
    padding-top: 0.55rem;
    font-size: 2rem;
    border-radius: 50px;
    transition: all .5s;
    margin: 0 5px;
  }
.icon-facebook{
  &:hover{
    color: #4862a3;
  }
}
.icon-youtube{
  &:hover{
    color: #fd0000;
  }
}
.icon-twitter{
  &:hover{
    color: #1ca0f1;
  }
}
a.ah{
  font-size: 0.8rem;
  opacity: 0.5;
  display: block;
  &.hover{
    opacity: 0.8;
  }
}
.whatsapp {
  position: relative;
  padding-left: 35px;
  padding-top: 7px;
  padding-bottom: 7px;
  &::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    background: url(images/whatsapp.png);
  }
}
.marker{
  font-size: .9rem;
  background: #e4ae47;
  background-clip: padding-box;
  border-radius: 5px;
  border: dotted 2px #f5bc4c;
  color: white;
  padding: 1px 5px;
  will-change: hover;
  transition: 0.5s all;
  &:hover{
    background: $lightblue;
  }
}