footer.footer
  //- button(title="Back to top" class="scroll")
    span IR ARRIBA
  .segicons      
    .footer__item
      .footer__itemcontent.wow.fadeInRight(data-wow-duration="1.5s", data-wow-delay=".0s")
        h2.footer__title Santa Cruz - Bolivia
        p.footer__text <span>Av. Paragua # 335 esq. Agustín Gutiérrez,</span><span>entre 3º y 4º Anillo. </span><a class="marker" href="./contactos.html"><span><i class="icon icon-marker"></i> <strong> VER MAPA </strong></span></a><br><span><strong>Cels.:</strong> <span class="whatsapp">72711164</span> – <span class="whatsapp">77669661</span></span>
        .footer__contact
          .colEmail
            p.footer__text javiermarceloandrade@gmail.com
        //- a.main-footer__link(href="./contactos.html") <i class="icon icon-marker"></i> <strong> VER MAPA </strong>
    .footer__item
      h2.footer__title Siguenos en: 
      ul.social.footer__social
        li.social__icon: a(href="#", target="_blanck"): i.icon-facebook
        li.social__icon: a(href="#", target="_blanck"): i.icon-youtube
        li.social__icon: a(href="#", target="_blanck"): i.icon-twitter
    .footer__item
      .footer__itemcontent.wow.fadeInLeft(data-wow-duration="1.5s", data-wow-delay=".0s")
        h2.footer__title Segicons.
        p.footer__text Todos los Derechos Reservados ®. <span><strong>Segicons.</strong> © <span id="currentDate"></span></span><br>
        a.footer__text.ah(href='//ahpublic.com', target='_blank') Diseño y Programación: AH! PUBLICIDAD

script(src="js/bundle.js")
script(src="js/main.js")
  
