header.header#header
  button.main__button.toggle__button(v-on:click="sideMain", :class="{toggle__button_active: menutemporal}", type="button") 
    .hamburger.hamburger--elastic(:class="{'is-active' : menutemporal}")
      span.hamburger-box
        span.hamburger-inner
    span(style="font-size: 1.5rem;") &nbsp; MENÚ
  .toggle__main(:class="{toggle__main_active: menutemporal}")
    nav.header__main
      ul.toggle__inicio
        li.main-inicio__item(v-for= "itemstart in mainStart"): a.main-inicio__link.wow.swing(:href= "itemstart.href") <i :class="itemstart.icon"></i> <span v-text="itemstart.title"></span>
      ul.main
        li.main__item.wow.fadeInDown(v-for= "itemMenu in mainMenu", data-wow-duration="1.5s", :data-wow-delay="itemMenu.delay"): a.main__link(:href="itemMenu.href"): button.main__button(v-text="itemMenu.title") 
  .main.main__ini
    a.main__logo(href="./")
      img.wow.fadeInLeft(data-wow-duration="1.5s", data-wow-delay=".0s", src="images/isotipo.png", alt="Segicons - Servicios Generales para su empresa")
    ul.main-inicio
      li.main-inicio__item.wow.fadeInRight(v-for= "item in mainStart", data-wow-duration="1.5s"): a.main-inicio__link.wow.swing(:href= "item.href") <i :class="item.icon"></i> <span v-text="item.title"></span>