head
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  meta(http-equiv="X-UA-Compatible", content="ie=edge")
  meta(name='designer', content='Fernando Javier Averanga Aruquipa / nandes.ingsistemas@gmail.com')
  meta(name='description', content='SEGICONS.')
  meta(property="og:title" content="SEGICONS. Seguridad industrial, confección de ropa de trabajo, construcción de estructuras metálicas y campamentos")
  meta(property="og:description" content="SEGICONS.")  
  meta(name='author', content='')
  meta(name='keywords', content='')
  link(rel="stylesheet", href="styles.css") 
  title SEGICONS. Seguridad industrial, confección de ropa de trabajo, construcción de estructuras metálicas y campamentos
