section.segicons 
  .section__content
    article.section__item.card(v-for="card in mainFooter")
      .card__item
        figure
          img(:data-src="card.thumb", :alt="card.title")
        h2(v-text="card.title")
        a(v-if="card.href != 'none'", :href="card.href")
          button Ver más