<!DOCTYPE html>
html(lang="es" prefix="og: http://ogp.me/ns#")
  include blocks/head.pug
  body.body
    #segicons
      //-- include blocks/slider.pug
      include blocks/header.pug       
      section.segicons
        .section.section_full.segicons
          h2.section__title(v-text="mainMenu[7].title")
          main.section__main_full
            article.article
              h3.article__title Carpas para desastres naturales
              .article__content
                .article__gallery.article__gallery_full.gallery
                  a(href="images/carpas06.jpg", data-caption="Carpas para desastres naturales")
                    img.cover(data-src="images/thumbs/carpas06.jpg", alt="Carpas para desastres naturales")
                    span &#128269; Ver más
                .article__gallery.article__gallery_text.gallery
                  p Carpas exclusivamente diseñadas para desastres naturales, tienen capacidad para 6 personas que puedan vivir durante un buen tiempo, las características de la carpa son : 
                  ul
                    li Material de alta resistencia.
                    li Impermeable ambas caras.
                    li Refuerzo en todas las costuras a prueba de tensión fuerte y resistencia a vientos.
                    li Una puerta principal.
                  ul 
                    li 6 ventanas con malla especial con cobertores para suspender .
                    li Ningún tipo de filtración.
                    li Diseño que tiene un declive.
                    li Para el deslizamiento del agua.
                  //- p en la misma foto se ven todos los accesorios que son livianos para su fácil manipulación. En la misma foto tienen las dimensiones de la carpa y todos los accesorios.
                .article__gallery.article__gallery_full.gallery
                  a(href='images/carpas07.jpg', data-caption='Carpas para desastres naturales')
                    img.cover(data-src='images/thumbs/carpas07.jpg', alt='Carpas para desastres naturales')
                    span 🔍 Ver más
                .article__gallery.article__gallery_full.gallery
                  a(href='images/carpas08.jpg', data-caption='Carpas para desastres naturales')
                    img.cover(data-src='images/thumbs/carpas08.jpg', alt='Carpas para desastres naturales')
                    span 🔍 Ver más
                .article__gallery.article__gallery_full.gallery
                  a(href='images/carpas05.jpg', data-caption='Carpas para desastres naturales')
                    img.cover(data-src='images/thumbs/carpas05.jpg', alt='Carpas para desastres naturales')
                    span 🔍 Ver más
                .article__gallery.article__gallery_full.gallery
                  a(href='images/carpas04.jpg', data-caption='Carpas para desastres naturales')
                    img.cover(data-src='images/thumbs/carpas04.jpg', alt='Carpas para desastres naturales')
                    span 🔍 Ver más
                .article__gallery.article__gallery_full.gallery
                  a(href='images/carpas09.jpg', data-caption='Carpas para desastres naturales')
                    img.cover(data-src='images/thumbs/carpas09.jpg', alt='Carpas para desastres naturales')
                    span 🔍 Ver más                
                  //- a(href="image.full", data-caption="itemGallery.title")
                    img.cover(data-src="thumbs/carpas06.jpg", alt="Carpas para desastres naturales")
                    span &#128269; Ver más
                //- .article__gallery.article__gallery_full.gallery
                //-   a(href="image.full", data-caption="itemGallery.title")
                //-     img.cover(data-src="thumbs/carpas06.jpg", alt="Carpas para desastres naturales")
                //-     span &#128269; Ver más
                  ul
                    li 1.- Un Maletin (carpa) 2- Un porta tubo 
                    li 3.- Un estuche (estacas) 
                    li 4.- Seis tubos 25 x 0.90 mm. Altura 1.60 mts. 
                    li 5.- Cuatro tubos de 32 x 0.90 (2 tubos de empalme) 
                    li 6.- Ocho Estacas 
                    li 7.- Nueve Tensores
            article.article(v-for="articleItem in mainMenu[7].menuItem")
              h3.article__title(v-text="articleItem.title", :id= "articleItem.ref")
              .article__content
                template(v-for="itemGallery in gallery8", v-if="articleItem.title === itemGallery.title")
                  .article__gallery.article__gallery_full.gallery(v-for="image in itemGallery.thumbs")
                    a(:href="image.full", :data-caption="itemGallery.title")
                      img.cover(:data-src="image.thumb", :alt="itemGallery.title")
                      span &#128269; Ver más
        //-   aside.section__aside(data-sticky-container="data-sticky-container")            
            .aside__content(data-sticky='', data-margin-top="80")
              ul.aside__main
                li.aside__item(v-for="asideItem in mainMenu[7].menuItem")
                  a.aside__link.active( data-scroll, :href="'#' + asideItem.ref ", v-text="asideItem.title")
      include blocks/mainfooter.pug 
    include blocks/footer.pug