<!DOCTYPE html>
html(lang="es" prefix="og: http://ogp.me/ns#")
  include blocks/head.pug
  body.body
    #segicons
      //-- include blocks/slider.pug
      include blocks/header.pug       
      section.segicons
        .section.segicons
          h2.section__title(v-text="mainMenu[2].title")
          main.section__main
            article.article(v-for="articleItem in mainMenu[2].menuItem")
              h3.article__title(v-text="articleItem.title", :id= "articleItem.ref")
              .article__content
                template(v-for="itemGallery in gallery3", v-if="articleItem.title === itemGallery.title")
                  .article__gallery.gallery(v-for="image in itemGallery.thumbs")
                    a(:href="image.full", :data-caption="itemGallery.title")
                      img.cover(:data-src="image.thumb", :alt="itemGallery.title")
                      span &#128269; Ver más
          aside.section__aside(data-sticky-container="data-sticky-container")            
            .aside__content(data-sticky='', data-margin-top="80")
              ul.aside__main
                li.aside__item(v-for="asideItem in mainMenu[2].menuItem")
                  a.aside__link.active( data-scroll, :href="'#' + asideItem.ref ", v-text="asideItem.title")
      include blocks/mainfooter.pug 
    include blocks/footer.pug