<!DOCTYPE html>
html(lang="es" prefix="og: http://ogp.me/ns#")
  include blocks/head.pug
  body.body
    #segicons
      //-- include blocks/slider.pug
      include blocks/header.pug       
      section.segicons
        .section.segicons(style="background: white;")
          h2.section__title Contáctenos
          .col30
            #form
              form.form(v-on:submit.prevent="submitForm")
                .item
                  label.form__label(for="") Nombre completo: 
                  input.form__input(v-model="vue.nombre" type="text" required="")
                .item
                  label.form__label(for="") Teléfono: 
                  input.form__input(v-model="vue.telefono" type="number" required="")
                .item
                  label.form__label(for="") Celular: 
                  input.form__input(v-model="vue.movil" type="number" required="")
                .item
                  label.form__label(for="") Dirección: 
                  input.form__input(v-model="vue.direccion" type="text" required="")
                .item
                  label.form__label(for="") Ciudad: 
                  input.form__input(v-model="vue.ciudad" type="text" required="")
                .item
                  label.form__label(for="") Email: 
                  input.form__input(v-model="vue.email" type="email" required="")
                .item
                  label.form__label(for="") Mensaje: 
                  textarea.form__input(v-model="vue.mensaje" name="", cols="30", rows="10" required="") 
                .form_buttons
                  button.form__button(type="submit") Enviar
                  button.form__button(v-on:click="clearForm()") Limpiar
                .statusMessage(v-if="formSubmitted")
                  h4(v-text="vue.envio")
          .col70
            h2.article__title(style="margin-bottom: 0;") Ubicación
            iframe.iframe__map(src="https://www.google.com/maps/d/embed?mid=1nyY0JqstkFeppdQiYqgS1avfsZU" width="640" height="450")
    include blocks/footer.pug
    script(src="js/vue-form.js")