<!DOCTYPE html>
html(lang="es" prefix="og: http://ogp.me/ns#")
  include blocks/head.pug
  body.body
    #segicons
      template(v-if="showmodal")
        .wow.fadeInDown(data-wow-duration="1.5s", data-wow-delay="3s", :class="{ 'modal-popup': showmodal }")
          .modal-popup__background(v-on:click="showmodal=false")
          button.modal-popup__close(v-on:click="showmodal=false") X
          .my-slider
            div: img(src="images/arnes01.jpg", alt="nandes")
            div: img(src="images/arnes02.jpg", alt="nandes")
            div: img(src="images/arnes03.jpg", alt="nandes")
            div: img(src="images/arnes01.jpg", alt="nandes")
            div: img(src="images/arnes02.jpg", alt="nandes")
            div: img(src="images/arnes03.jpg", alt="nandes")
      ul.cb-slideshow
        li: span 01
        li: span 02
        li: span 03
        li: span 04
        li: span 05
        li: span 06
        li: span 07
        li: span 08
      .cb-slideshow__content
        ul.cb-slideshow.cb-slideshow_static
          li: div: h3 Seguridad industrial
          li: div: h3 Ropa de trabajo
          li: div: h3 Confecciones en general
          li: div: h3 Estructuras metálicas
          li: div: h3 Construcción de campamentos
          li: div: h3 Letreros gigantografías
          li: div: h3 Sombrillas
          li: div: h3 Carpas
        include blocks/header.pug
      include blocks/mainfooter.pug
    include blocks/footer.pug
