<!DOCTYPE html>
html(lang="es" prefix="og: http://ogp.me/ns#")
  include blocks/head.pug
  body.body
    #segicons
      //-- include blocks/slider.pug
      include blocks/header.pug       
      section.segicons
        .section.segicons(style="background: white;")
          h2.section__title Nuestra empresa
          .col50
            h3.article__title Misión
            p.content_text 
            h3.article__title Visión
            p.content_text 
          .col50
            img(src="images/segicons-tienda.jpg", alt="Segicons")
    include blocks/footer.pug
